.App {
  text-align: center;
}
.LoginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 253, 253);
 }

 .RegisterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 }

 .RegisterForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

